@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.flx{
  display: flex;
}
.txt{
  margin-top: 25px;
  margin-left: 15px;
}

li {
    list-style: none;
}
body{
  scroll-behavior: smooth;
}
hr{
  border: none;
  height: 4px;
  background:rgb(129, 47, 47);
  border-radius: 10px;
  margin-left: 120px;
  margin-right: 120px;
}
a {
    text-decoration: none;
}
.header{
  border-bottom: 1px solid #E2E8F0;
  
  background-size: cover;
  height: 100vh;
  width: 100%;
 

}

.navbar {
  display: flex;
  background:#E2E8F0;
  position: relative;
  z-index: 2;
  
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
nav-menu {
  display: flex;
  justify-content:space-around;
  align-items: center;
  display: inline-block;
  
}

.nav-item {
  margin-left: 5rem;
  display: inline-block;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
button{
  background-color: orangered;
  color: aliceblue;
  height: 40px;
  width: 70px;
}
@media only screen and (max-width: 768px) {

  
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 9rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  
  .nav-item{
    display: block;
  }
  .header{
    height: 500px;
   
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}
.president{
  font-size: 18px;
  line-height: 1.6;
  padding-left: 40px;
  padding-right:17px;
  padding-top: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
#flex{
  display: flex;
  
}
.card{
  height: 430px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 7px 10px 18px #888888;
  margin-bottom: 20px;
  
 
}
#up{
  font-size: 30px;
  padding-left: 50px;
  margin-top: 10px;
}

.imag{
  transition: transform .2s;
}
.imag:hover{
  transform: scale(1.05);
  cursor: pointer;
  
}
.president #p2{
  color: rgb(110, 78, 197);
}

@media screen and (max-width: 768px) {
  .president #p2{
    font-size: 23px;
   
    color: rgb(87, 96, 223);
  }
  .slideshow-container img{
    height:300px;

  }
  .slideshow-container{
    margin-top: 20px;
    
  }
  .text{
    position: absolute;
    top: 240px;
    height: 60px;

  }
  
#flex{
  display: block;
}
  #up{
    padding-left: 20px;
  }
  .card{
    margin-top: 20px;
    width: 85%;
    height: 420px;
    
  }
  #p2{
    font-size:10px ;
  }
  .logoA{
    display: none;
  }
  .card img{
    width: 100%;
    height: 300px;
  }
  
}
.logoA{
  position: absolute;
  right: 80px;
  top: 150px;
  z-index: 3;
}
#p2{
  font-size: 30px;
}
.fot{
  width: 100%;
  height: 60vh;
  background:#475569;
 
 
}

.copy{
  font-size: 14px;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 90px;
}
button:hover{
  cursor: pointer;
}

.context{
  font-size: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 

}
.mystyle {
  width: 100%;
  padding: 25px;
  height: 300px;
  


}
.president{
  display: flex;
  padding: 10px;
}
.photo{
  background-image: url(IMG-20210703-WA0058\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 800px;
  margin-right: 20px;
  margin-left: 30px;

  border: solid black 2px;
  border-radius: 100%;

}
@media only screen and (max-width: 600px) {
  .tu{
    padding-left: 30px;
  }

  .president{
    display: block;
  }
  .photo{
    width: 230px;
    height: 220px;
    margin: auto;
    margin-bottom: 9px;
    margin-top: 1px;
    background-image: url(.presi.jpg);
  }
  .achiev{
    height: 200px;
  }
  .divo{
    width: 20px;
  }
}
.achiev{
  background-image: url(.aec.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  display: flex;
 
  background-blend-mode: multiply;
}
.divo{
  border: white solid 1px;
  width: 270px;
  height: 270px;
  margin: auto;
}
.circle{
  border: 1px solid white;
  height: 180px;
  width: 180px;
  margin: auto;
  border-radius: 100%;
  margin-top: 24px;
}
.circle #pl{
  font-size: 60px;
  margin-top: 45px;
  margin-left: 16px;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  
}
@media only screen and (max-width: 600px) {
  .circle #pl{
    font-size: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }


  .achiev{
    height: 200px;
  }
  .divo{
    width: 70px;
    height: 90px;
    margin-left: 8px;
  }
  .circle{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 4px;
    
  }




  
}
.divo #po{
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btnu{
  
  
  width: 90px;
  height: 33px;
  padding-top: 9px;
  padding-left: 9px;
  font-size: 13px;
  border: solid 1px black;
  background: rgb(255, 84, 5);
  margin-left: 200px;
 
  border-radius: 5px;
}
.btnu a{
  padding-left: 18px;
}
.btnu:hover{
  background: #482ff7;
}
.calender{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  
}
.date{
  margin-left: 120px;
  font-size: 22px;
  text-align: center;
}
.text1{
  margin-left: 50px;
  font-size: 16px;
}
#upcom{
  font-size: 21px;
  margin-left: 36px;
  margin-top: 20px;
  color: rgb(163, 45, 45);
}
@media only screen and (max-width: 600px) {
  .btnu{
    font-size: 10px;
    margin-left: 3px;
    width: 70px;
    padding-top: 6px;
    margin-right: 5px;
  }
  .btnu a{
    padding-left: 5px;
    padding-top: 16px;
  }
  .calender{
    margin-bottom: 30px;
  }
  .date{
    margin-left: 30px;
    font-size: 22px;
    text-align: center;
  }
  #upcom{
    font-size: 22px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(163, 45, 45);
  }
  .text1{
    margin-left: 30px;
    font-size: 10px;
  }
  .divo #po{
    font-size: 8px;
}
}



#preloader{
  background: white  url(Bounce-Bar-Preloader-1.gif) no-repeat center center;;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  
}
@media only screen and (max-width: 600px) {
  .tu{
    padding-left: 14px;
    padding-right: 12px;
  }
}
